<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.hyun.mapper.AdOrderMapper">
   
      	<sql id="criteria">
	<trim prefix="(" suffix=") AND" prefixOverrides="OR">
		<foreach collection="typeArr" item="type">
			<trim prefix="OR">
				<choose>
					<when test="type == 'N'.toString()">
						ORD_CODE like '%' || #{keyword} || '%'
					</when>
									
					<when test="type == 'C'.toString()">
						ORD_NAME like '%' || #{keyword} || '%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
	</sql>
   
	<select id="order_list" resultType="com.hyun.domain.OrderVO" parameterType="map">
	<![CDATA[ 
	select 
		ORD_CODE, MBSP_ID, ORD_NAME, ORD_ZIPCODE, ORD_ADDR_BASIC, ORD_ADDR_DETAIL, ORD_TEL, ORD_PRICE, ORD_REGDATE, ORD_STATUS, PAYMENT_STATUS
	from 
	(
		select /*+INDEX_DESC(ORDER_TBL PK_ORD_CODE) */
		
			rownum rn, ORD_CODE, MBSP_ID, ORD_NAME, ORD_ZIPCODE, ORD_ADDR_BASIC, ORD_ADDR_DETAIL, ORD_TEL, ORD_PRICE, ORD_REGDATE, ORD_STATUS, PAYMENT_STATUS
		
		from 
			ORDER_TBL 
		where 
	]]>
		<include refid="criteria"></include>
		<![CDATA[ 
		rownum <= #{pageNum} * #{amount}
	)
	where rn > (#{pageNum} -1) * #{amount} 
	]]>
	</select>
	
	<select id="getTotalCount" resultType ="int">
		SELECT 
			count(*)
		FROM 
		 	ORDER_TBL
		WHERE
		<include refid="criteria"></include>
		ORD_CODE > 0
	</select>

  </mapper>